footer {
  position: fixed;
  bottom: 0px;
  background-color: white;
  border-top: 3px solid #f67c89;
  color: #f55667;
  font-size: 1.15rem;
  line-height: 0.9rem;
  text-align: center;
  width: 100%;
}
header{
    position: fixed;
    color: red;
    font-family: Cursive;
    text-align: center;
    border-bottom: 3px solid red;
    width:100%

}
nav{
    position:fixed;
    color:black;
    text-align: center;
    border-bottom: 2px dashed black;
}